.button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  $pad: 24px;
  padding: $pad;
  $font-size: 18px;
  height: $font-size + ($pad * 2);
  font-size: $font-size;

  &.is-blue {
    background-color: #487aac;
    color: #fff;
  }


  &.is-outlined {
    background-color: transparent;
    border: solid 1px #333333;
    font-family: '游ゴシック体';
    height: 50px;
    font-weight: bold;
    padding: 14px 28px;
    line-height: 1;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;

    &.is-outlined:before {
      content: '';
      bottom: -8px;
      right: -8px;
      position: absolute;
      border-bottom: 1px solid #333;
      border-right: 1px solid #333;
      width: 90%;
      height: 90%;
    }
  }
}